{deps_dir, ["deps"]}.
{sub_dirs, ["rel", "apps/cdashbot"]}.
{erl_opts, [{d, debug}, fail_on_warning]}.


{deps, [
     {exmpp, ".*", {git, "git://github.com/Zert/exmpp.git", {branch, "rebar"}}},
     {zucchini, ".*", {git, "https://github.com/devinus/zucchini.git", {branch, "master"}}},
     {jsonx, ".*", {git, "git://github.com/iskra/jsonx.git", master}},
     {lager, ".*", {git, "git://github.com/basho/lager.git", {tag, "master"}}}
	]}.
