{deps_dir, ["deps"]}.
{sub_dirs, ["rel", "apps/cdashbot"]}.
{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{eunit_opts, [verbose, {skip_deps, true}]}.
{eunit_exclude_deps, true}.
{cover_enabled, true}.



{deps, [
     {lager, ".*", {git, "git://github.com/basho/lager.git", {tag, "master"}}},
     {exmpp, ".*", {git, "git://github.com/Zert/exmpp.git", {branch, "rebar"}}},
     {jsonx, ".*", {git, "git://github.com/iskra/jsonx.git", master}}
	]}.
