[
 %% SASL config
{lager, [
  {handlers, [
    {lager_console_backend, info},
    {lager_file_backend, [{file, "/var/log/cdashbot/debug.log"}, {level, debug}]},
    {lager_file_backend, [{file, "/var/log/cdashbot/error.log"}, {level, error}]},
    {lager_file_backend, [{file, "/var/log/cdashbot/access.log"}, {level, info}]}
  ]}
]}
].

